.page_banner {
	position: relative;
	width: 100%;
	height: 380px;
}

.page_banner.about_banner {
	background: url(../img/about_banner.png) no-repeat center center;
}

.page_banner.capital_banner {
	background: url(../img/capital_banner.png) no-repeat center center;
}

.page_banner.project_banner {
	background: url(../img/project_banner.png) no-repeat center center;
}

.page_banner.investor_banner {
	height: 190px;
	background: url(../img/investor_banner.png) no-repeat center center;
}

.page_banner.financing_banner {
	background: url(../img/financing_banner.png) no-repeat center center;
}

.page_banner.me_banner {
	height: 180px;
	background: url(../img/me_banner.png) no-repeat center center;
	padding-top: 40px;
	box-sizing: border-box;
}

.page_banner h3 {
	position: absolute;
	font-size: 36px;
	color: #fff;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
}

.main_body {
	margin-top: -70px;
}

.main_body .container {
	position: relative;
	background: #fff;
	z-index: 10;
}

.main_body .bg_fff {
	background: #fff;
}

.main_body .body_tit {
	position: relative;
	line-height: 50px;
	padding: 30px;
	font-size: 24px;
	font-weight: bold;
	border-bottom: 1px solid #e7e7e7;
}

.main_body .body_tit:before {
	content: "";
	position: absolute;
	width: 10px;
	height: 30px;
	background: #ed0f1d;
	top: 38px;
	left: 0;
}

.main_body .body_tit input {
	width: 320px;
	height: 44px;
	line-height: 44px;
	padding: 0 10px;
	box-sizing: border;
	border: 1px solid #e32531;
	font-size: 16px;
	font-weight: normal;
}

.main_body .body_tit button {
	width: 110px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	background: #e32531;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	border: none;
}


/*大众创投*/

.project_list li {
	line-height: 30px;
	color: #8c8c8c;
	padding: 30px 30px 0;
	border-bottom: 1px solid #e7e7e7;
}

.project_list .switch_bar {
	margin-top: 20px
}

.project_list .switch_bar a {
	color: #717171;
	margin-right: 20px;
}

.project_list .switch_bar a.active {
	color: #b80914;
}

.project_list li .tit {
	color: #242424;
	font-size: 18px;
}

.project_list li .talk_ico {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-position: -290px 0;
	vertical-align: middle;
}

.project_list li .issue_ico {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-position: -320px 0;
	vertical-align: middle;
}

.project_list li .red_txt {
	font-size: 18px;
	font-weight: bold;
}

.project_list li .link {
	display: block;
	width: 132px;
	height: 48px;
	background: url(../img/red_btn.png) no-repeat 0 0;
	background-size: 100% 100%;
	color: #fff;
	line-height: 48px;
	text-align: center;
	margin-top: 10px;
}


/*结束*/


/*登录*/

.login_top {
	height: 100px;
	line-height: 100px;
	background: #fff;
}

.login_top img {
	width: 126px;
	height: 38px;
	margin-top: 3px;
}

.login_top .btn {
	position: relative;
	font-size: 20px;
	vertical-align: middle;
	padding-right: 20px;
}

.login_top .btn:after {
	content: "";
	position: absolute;
	width: 1px;
	height: 20px;
	right: 8px;
	top: 1px;
	background: #919191;
}

.login_top .btn:last-child:after {
	background: transparent;
}

.login_bg {
	width: 100%;
	height: 600px;
	background: url(../img/login_bg.png) repeat 0 0;
	padding-top: 100px;
	box-sizing: border-box;
}

.login_bg .left_pic {
	width: 490px;
	padding-left: 40px;
}

.login_main {
	width: 370px;
	margin: 30px 30px 0 0;
	padding: 20px 30px 30px;
	background: #fff;
	box-sizing: border-box;
	float: right;
}

.login_main .row {
	height: 40px;
	line-height: 40px;
	margin-bottom: 20px;
}

.login_main .handle_btn {
	font-size: 18px;
}

.login_main .row {
	position: relative;
	height: 40px;
	line-height: 40px;
}

.login_main .txt {
	width: 100%;
	height: 40px;
	border: 1px solid #e5e5e5;
	padding: 0 10px 0 40px;
	box-sizing: border-box;
}

.login_main .ico_bg {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 22px;
	height: 22px;
}

.login_main .user_ico {
	background-position: -345px 0;
}

.login_main .password_ico {
	background-position: -364px 0;
}

.login_main .code_ico {
	background-position: -386px 0;
}

.login_main .code_row {
	margin-bottom: 0;
}

.login_main .cade_half img {
	width: 100%;
	height: 40px;
}

.login_main .login_btn {
	display: block;
	width: 100%;
	height: 42px;
	background: url(../img/login_btn.png) no-repeat 0 0;
	line-height: 42px;
	text-align: center;
	color: #fff;
	letter-spacing: 2px;
}

.checkbox_default {
	min-height: 15px;
	line-height: 15px;
	padding-left: 15px;
	position: relative;
	display: inline-block;
	margin-bottom: -2px;
	vertical-align: middle;
}

.checkbox_default input[type="checkbox"] {
	box-sizing: border-box;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	vertical-align: top;
}

.checkbox_default label {
	padding-left: 5px;
	cursor: pointer;
}

.checkbox_default label:before {
	background: #fff url(../img/check_ico.png) -1px -2px no-repeat;
	content: " ";
	height: 15px;
	left: 0;
	position: absolute;
	width: 15px;
	cursor: pointer;
	margin-right: 5px;
}

.checkbox_default input[type="checkbox"]:checked+label:before {
	background: #fff url(../img/check_ico.png) -1px -2px no-repeat;
}

.checkbox_default input[type="checkbox"]:not(:checked)+label:before,
.checkbox_default input[type="checkbox"]:not(:checked):focus+label:before,
.checkbox_default input[type="checkbox"]:not(:checked)+label:hover:before {
	background: #fff url(../img/check_ico.png) -1px -17px no-repeat;
}


/*结束*/


/*关于我们*/

.about {}

.about .nav {
	line-height: 50px;
	margin-bottom: 40px;
}

.about .nav a {
	display: inline-block;
	position: relative;
	padding: 0 30px;
	font-size: 20px;
}

.about .nav a.active {
	color: #b80914;
}

.about .nav a.active:after {
	position: absolute;
	bottom: 0px;
	left: 0;
	content: "";
	width: 100%;
	height: 3px;
	background: #b80914;
}


/*关于我们/问题*/

.question .menu {
	max-width: 206px;
	width: 100%;
	font-size: 16px;
}

.question .menu li {
	width: 100%;
	height: 56px;
	line-height: 56px;
	text-align: center;
	background: #f5f5f5;
}

.question .menu .tit {
	background: #b80914;
}

.question .menu .tit a {
	color: #fff;
}

.question .menu .active {
	color: #c5414a;
	background: #eaeaea;
}

.question .substance {
	margin: 0 10px 100px 0;
}

.question .substance .tit {
	line-height: 54px;
	border-bottom: 1px solid #c7c7c7;
	font-size: 18px;
	font-weight: bold;
}

.question .substance .con_txt {
	padding-top: 30px;
}

.question .substance p {
	line-height: 26px;
	color: #797979;
}


/*关于我们/联系我们*/

.main_body .contact {
	position: relative;
}

.contact .map_box {
	padding-bottom: 100px;
}

.map_box img {
	height: 550px;
	width: 100%;
}

.contact_info {
	position: absolute;
	left: 70px;
	top: 70px;
	width: 340px;
	height: 400px;
	padding: 40px;
	background: #fff;
	box-sizing: border-box;
	color: #242424;
}

.contact_info .tit {
	line-height: 50px;
	font-size: 30px;
	font-weight: bold;
}

.contact_info .group {
	margin-top: 28px;
	line-height: 24px;
}

.contact_info .gray_txt {
	color: #b3b3b3;
}


/*关于我们/在线留言*/

.message {}

.message .user_part {
	width: 100%;
	padding: 30px 100px 40px;
	background: #f5f5f5;
	box-sizing: border-box;
}

.message .user_part .tit {
	position: relative;
	width: 100%;
	height: 34px;
	background-position: -172px -55px;
	margin: 0 0 20px 0;
}

.message .user_part .tit:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 10px;
	height: 34px;
	background: #cbcccf;
}

.message .user_part form {
	border-top: 1px solid #e5e5e5;
	padding-top: 25px;
}

.user_part form>.span6:nth-child(even) .group {
	float: right;
}

.message .user_part .label {
	line-height: 40px;
}

.message .user_part .txt {
	width: 360px;
	height: 48px;
	border: none;
	background: #fff;
	padding: 0 10px;
	box-sizing: border-box;
	border-radius: 2px;
}

.message .textarea_wrap {
	position: relative;
	width: 100%;
	height: 170px;
}

.message .textarea_wrap textarea {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	padding: 10px 20px 30px;
	box-sizing: border-box;
	line-height: 24px;
}

.message .textarea_wrap button {
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 162px;
	height: 50px;
	background: url(../img/red_btn.png) no-repeat 0 0;
	background-size: 100% 100%;
	outline: none;
	border: none;
	color: #fff;
	font-size: 18px;
	letter-spacing: 2px;
}

.message .clause {
	line-height: 28px;
	color: #8a8a8a;
	padding-bottom: 50px;
}

.message .clause .tit {
	color: #323232;
	font-size: 16px;
	margin: 30px 0 5px 0;
}


/*结束*/


/*精品项目*/

.project_list .group_content li {
	padding: 30px 0 0;
	border: none;
}

.project .project_list .switch_bar {
	margin-left: 15px;
}

.group_content .item .pic {
	height: 185px;
}

.group_content .hot {
	width: 66px;
	height: 69px;
}

.group_content .progress_wrap {
	width: 100%;
	padding-right: 0;
}

.group_content .bottom_info {
	line-height: 20px;
	padding: 8px 20px;
}

.group_content .item h5 {
	font-size: 16px;
	margin-bottom: 8px;
}

.group_content .progress_num {
	padding-top: 0;
	line-height: 42px;
}

.group_content .progress {
	margin-bottom: 10px;
}

.group_content .state_box .mask {
	font-size: 14px;
	text-align: center;
}


/*结束*/


/*注册投资人*/

.investor form li {
	margin-bottom: 20px;
}

.investor form .lable {
	text-align: right;
	line-height: 40px;
}

.investor form .txt {
	width: 100%;
	min-width: 250px;
	height: 40px;
	border: 1px solid #e5e5e5;
	padding: 0 10px;
	box-sizing: border-box;
}

.error_tip form .txt {
	border: 1px solid #e32531;
}

.investor form .code_row .txt {
	width: calc(100% - 122px);
	min-width: inherit
}

.investor form .code_row button,
.investor form .code_row img {
	width: 116px;
	height: 40px;
	line-height: 40px;
	border: none;
	background: #e5e5e5;
}

.investor form .ico_bg {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-position: -311px -27px;
	vertical-align: middle;
	margin-left: 15px;
}

.investor .error_tip .ico_bg {
	background-position: -286px -27px;
}

.investor form .tip_text {
	font-size: 12px;
	line-height: 40px;
	display: inline-block;
	vertical-align: middle;
}

.investor .clause {
	margin-top: 100px;
	line-height: 30px;
	color: #666;
	padding-bottom: 50px;
}

.investor .clause .tit {
	margin-bottom: 5px;
	color: #4c4c4c;
	font-size: 16px;
	font-weight: bold;
}


/*结束*/


/*融资面对面*/

.financing .news_top {
	position: relative;
	line-height: 24px;
	color: #666;
	margin: 26px 0;
	padding: 15px;
	box-sizing: border-box;
}

.financing .news_top:before {
	content: '';
	position: absolute;
	left: 0;
	top: 13px;
	width: 5px;
	height: 24px;
	background: #b80914;
}

.financing .news_top .tit {
	font-size: 14px;
	color: #242424;
	font-weight: bold;
}

.financing .meeting_tit {
	height: 80px;
	width: 400px;
	margin: 30px auto 0;
	background-position: 0 -166px;
	font-size: 28px;
	font-weight: bold;
}

.financing .meeting_tit .text {
	line-height: 50px;
}


/*轮播*/

.financing_banner {
	position: relative;
	width: 100%;
	height: 384px;
	overflow: hidden;
	zoom: 1;
	margin-bottom: 50px;
}

.financing_banner .slide {
	position: relative;
	margin: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.financing_banner .slide img {
	width: 390px;
	height: 250px;
}

.financing_banner .lable_bg {
	position: absolute;
	left: 0;
	top: 20px;
	width: 95px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	background: url(../img/lable_bg.png) no-repeat 0 0;
}

.financing_banner .bottom_info {
	padding: 20px 10px;
	line-height: 32px;
}

.financing_banner .bottom_info .tit {
	height: 32px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 18px;
	font-weight: bold;
}

.financing_banner .bottom_info .time {
	height: 32px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #b2b2b2;
}

.bx-controls-direction .bx-prev,
.bx-controls-direction .bx-next {
	position: absolute;
	top: 50%;
	width: 120px;
	height: 120px;
	transform: translateY(-50%);
	border-radius: 1em;
}

.bx-controls-direction .bx-prev {
	background: url(../img/prev.png) no-repeat 0 0;
	background-size: 100% 100%;
}

.bx-controls-direction .bx-next {
	background: url(../img/next.png) no-repeat 0 0;
	background-size: 100% 100%;
}

.bx-controls-direction .ico_bg {
	width: 0;
	height: 0;
}

.bx-controls-direction .bx-prev:hover {
	background: url(../img/prev.png) no-repeat 0 0;
}

.bx-controls-direction .bx-next:hover {
	background: url(../img/next.png) no-repeat 0 0;
}

.bx-controls-direction {
	height: 350px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.financing .tabs {
	line-height: 62px;
	border-top: 1px solid #e7e7e7;
}

.financing .tabs a {
	margin-right: 20px;
	color: #686868;
}

.financing .tabs .active {
	line-height: 62px;
	color: #242424;
}

.financing_list {
	padding-bottom: 60px;
}

.financing_list .item {
	height: 360px;
	margin-bottom: 50px;
}

.financing_list li:nth-child(odd) .item {
	padding-right: 20px;
}

.financing_list li:nth-child(even) .item {
	padding-left: 20px;
}

.financing_list li .hover_effect {
	height: 100%;
	border: 1px solid transparent;
}

.financing_list li .hover_effect:hover {
	border: 1px solid #dcdcdc;
}

.financing_list .item .text_info {
	padding: 30px 20px;
	line-height: 26px;
	color: #5b5b5b;
	box-sizing: border-box;
}

.financing_list .text_info .tit {
	margin-bottom: 40px;
}

.financing_list .text_info .tit .text {
	line-height: 40px;
	max-height: 88px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-size: 22px;
	font-weight: bold;
	color: #323232;
}

.financing_list .item .text_info p {
	max-height: 160px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	text-align: justify;
}

.financing_list .pic {
	position: relative;
	height: 100%;
	box-sizing: border-box;
}

.financing_list .pic img {
	width: 100%;
	height: 100%;
}

.financing_list .pic .lable {
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 90px;
	height: 36px;
	line-height: 36px;
	background: #242424;
	border-radius: 4px;
	color: #fff;
	text-align: center;
}

.financing_list_wrap .load_more {
	height: 50px;
	text-align: center;
	padding-bottom: 90px;
}

.financing_list_wrap .load_more a {
	display: inline-block;
	width: 136px;
	line-height: 50px;
	border: 1px solid #313131;
	color: #f7625d;
	font-size: 18px;
}


/*个人中心*/

.header_top .group .urer_name {
	margin-left: 50px;
}

.main_body.me {
	margin-top: 0;
	background: #f5f5f5;
}

.me_banner .container {}

.me_banner .user_fl {}

.me_banner .user_fl .name {
	height: 50px;
	line-height: 50px;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 5px;
}

.me_banner .user_fl img {
	width: 92px;
	height: 95px;
	border-radius: 50%;
	border: 1px solid #030f26;
	margin-right: 20px;
	margin-left: 30px;
}

.me_banner .user_fl .user_lable {
	width: 64px;
	height: 28px;
	line-height: 28px;
	border-radius: 4px;
	background: #5b86c7;
	text-align: center;
	color: #e98c20;
	font-size: 14px;
}

.me_banner .user_fr {
	line-height: 100px;
	font-size: 46px;
	font-weight: bold;
	color: #fff;
	margin-right: 30px;
}

.me .nav {
	height: 78px;
	line-height: 50px;
	margin-bottom: 40px;
	border-bottom: 1px solid #e7e7e7;
	padding-top: 10px;
	box-sizing: border-box;
}

.me .nav a {
	font-size: 16px;
	font-weight: bold;
	padding: 0;
	position: relative;
}

.me .nav a.active {
	color: #ed0f1d;
}

.me .nav a.active:after {
	position: absolute;
	bottom: 0px;
	left: 0;
	content: "";
	width: 100%;
	height: 3px;
	background: #ed0f1d;
}

.me .nav a .meg {
	position: absolute;
	top: 6px;
	right: -14px;
	height: 18px;
	line-height: 18px;
	padding: 0 3px;
	background: #f65244;
	font-size: 12px;
	border-radius: 50%;
	color: #fff;
	font-weight: normal;
}

.me .nav .btn {
	width: 132px;
	height: 48px;
	background: url(../img/red_btn.png) no-repeat 0 0;
	background-size: 100% 100%;
	color: #fff;
	line-height: 48px;
	text-align: center;
}

.me form .lable {
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	color: #323232;
}

.me form .txt {
	width: 300px;
	min-width: inherit;
	height: 40px;
	border: 1px solid #e5e5e5;
	padding: 0 10px;
	box-sizing: border-box;
	color: #999
}

.me form .select {
	width: 300px;
	position: relative;
	cursor: pointer;
	float: left;
	box-sizing: border-box;
	text-align: left;
}

.me .select .val {
	display: none;
}

.me .select_default {
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	padding: 0 25px 0 6px;
	border: solid 1px #e0e0e0;
	background: #fff;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #999
}

.me .select_default:after {
	content: "";
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #777;
	-webkit-transform-origin: 5px 2.5px;
	-moz-transform-origin: 5px 2.5px;
	-ms-transform-origin: 5px 2.5px;
	-o-transform-origin: 5px 2.5px;
	transform-origin: 5px 2.5px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	position: absolute;
	right: 8px;
	top: 20px;
}

.me .select_item {
	display: none;
	border: 1px solid #ddd;
	border-top: none;
	position: absolute;
	z-index: 9999;
	box-sizing: border-box;
	width: 100%;
	background: #fff;
	max-height: 200px;
	overflow-y: auto;
}

.me .select_item li {
	height: 34px;
	line-height: 34px;
	padding: 0 6px;
	border-top: none;
	float: none;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 0;
}

.me .select_item li.hover {
	background: #666;
	color: #fff;
}

.me .select_item li:hover {
	background: #c7c7c7;
	color: #fff;
}

.me .edit_btn {
	text-align: center;
	margin: 40px auto;
}

.me .edit_btn a {
	display: inline-block;
	width: 148px;
	height: 48px;
	line-height: 48px;
	color: #5eacf1;
	background: #f5f5f5;
}

.me .clause {
	padding: 25px 40px;
	border-radius: 6px;
	background: #f5f5f5;
	color: #6f6f6f;
	margin: 30px 10px 20px 0;
}

.me .clause .tit {
	line-height: 36px;
	color: #323232;
	font-size: 16px;
}

.me .clause p {
	line-height: 28px;
	font-size: 14px;
	margin-bottom: 10px;
}

.me .password_row {
	position: relative;
	width: 300px;
}

.me .password_ico {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 30px;
	height: 20px;
	background: url(../img/eye_close.png) no-repeat 3px 3px;
}

@media screen and (max-width:1200px) {
	.message .user_part {
		padding: 30px 50px 40px;
	}
	.null_place {
		height: 40px;
	}
	.me .clause {
		margin-top: 0;
		padding: 20px
	}
}

@media screen and (max-width:960px) {
	.login_bg .left_pic {
		width: 100%;
		margin-top: 80px;
	}
	.user_part form>.span6:nth-child(even) .group {
		float: left;
	}
	.message .user_part {
		padding: 30px 100px 40px;
	}
	.message .textarea_wrap button {
		width: 130px;
		height: 36px;
	}
	.financing_list .item {
		height: 300px;
	}
	.financing_list .item .text_info p {
		max-height: 136px;
		-webkit-line-clamp: 5;
	}
	.financing_list .text_info .tit {
		margin-bottom: 15px;
	}
	.financing_list li:nth-child(odd) .item {
		padding-right: 5px;
	}
	.financing_list li:nth-child(even) .item {
		padding-left: 5px;
	}
	.financing_list .item .text_info {
		padding: 20px 10px 30px 20px;
	}
	.financing_list .text_info .tit .text {
		line-height: 36px;
		max-height: 72px;
	}
	.financing_list {
		padding-bottom: 30px;
	}
	.me .clause {
		padding: 10px 20px
	}
	.me .clause p {
		line-height: 22px;
	}
}

@media screen and (max-width:767px) {
	.project_list .handle_btn_part {
		float: left;
	}
	.main_body .body_tit input {
		width: 184px;
	}
	.main_body .body_tit button {
		width: 70px;
	}
	.main_body .body_tit {
		padding: 30px 15px;
		font-size: 18px;
	}
	.project_list li {
		padding: 30px 15px 0;
	}
	.paging a {
		width: 30px;
		height: 30px;
		line-height: 30px;
		margin: 0 5px;
	}
	.mr40 {
		margin-right: 20px;
	}
	.login_bg .left_pic {
		display: none;
	}
	.login_main {
		float: none;
		margin: 30px auto;
	}
	.login_main .handle_btn {
		font-size: 16px;
	}
	.about .nav a {
		padding: 0 15px;
		font-size: 18px;
	}
	.contact_info {
		left: 50px;
		top: 50px;
		width: 280px;
		height: 320px;
		padding: 20px;
	}
	.contact_info .group {
		margin-top: 15px;
	}
	.item .shadow_item {
		margin: 15px 75px 30px;
	}
	.investor form .ico_bg {
		margin-left: 0;
	}
	.financing_list .item {
		height: 250px;
	}
	.financing_list .item .hover_effect {
		box-shadow: 0 0 15px rgba(0, 0, 0, .1);
	}
	.financing_list .item .text_info p {
		max-height: 100px;
		-webkit-line-clamp: 4;
	}
	.financing_list .text_info .tit {
		margin-bottom: 15px;
	}
	.financing_list li:nth-child(odd) .item {
		padding-right: 3px;
	}
	.financing_list li:nth-child(even) .item {
		padding-left: 3px;
	}
	.financing_list .item .text_info {
		padding: 10px 5px 20px 10px;
	}
	.financing_list .text_info .tit .text {
		line-height: 30px;
		max-height: 60px;
		font-size: 16px;
	}
	.financing_list_wrap .load_more {
		padding-bottom: 40px;
	}
	.financing_list_wrap .load_more a {
		width: 100px;
		line-height: 40px;
		font-size: 16px;
	}
	.financing_list .item {
		margin-bottom: 30px;
	}
	/*关于我们*/
	.question .menu {
		max-width: inherit;
		font-size: 14px;
		;
	}
	.question .menu li.tit {
		display: block;
		width: 80%;
		text-align: center;
		height: 46px;
		line-height: 46px;
		margin: 0 auto 10px;
	}
	.question .menu li {
		display: inline-block;
		width: 30%;
		margin: 0 5px;
		height: 40px;
		line-height: 40px;
		border-radius: 4px;
		margin-bottom: 10px;
	}
	.question .menu li.min_w {
		min-width: 195px;
	}
	.question .menu a {
		padding: 0 10px
	}
	.me .nav a {
		padding: 0;
		font-size: 14px;
	}
	.me form .lable {
		font-size: 14px;
	}
	.me_banner .user_fr {
		font-size: 36px;
	}
	.me_banner .user_fl .name {
		font-size: 18px;
	}
	.me .nav .btn {
		width: 90px;
		height: 38px;
		line-height: 38px;
	}
}

@media screen and (max-width:600px) {
	.message .user_part {
		padding: 30px 30px 40px;
	}
	.item .shadow_item {
		margin: 15px 15px 30px;
	}
	.financing_list li {
		width: 100%;
		float: none;
	}
	.question .menu li {
		display: inline-block;
		width: 45%;
	}
	.question .menu li:nth-child(4) {
		display: inline-block;
		width: 40%;
	}
}

@media screen and (max-width:480px) {
	.main_body .body_tit {
		padding: 30px 15px 0;
	}
	.main_body .body_tit .text,
	.main_body .body_tit input {
		margin-bottom: 10px;
	}
	.login_main {
		width: 310px;
		margin: 0 auto;
		padding: 20px 15px 30px;
	}
	.about .nav a {
		padding: 0px 4px;
		font-size: 16px;
	}
	.contact .map_box {
		padding-bottom: 0;
	}
	.contact_info {
		position: inherit;
		border: 1px solid #ccc;
		margin: 30px auto;
		top: 0;
		left: 0
	}
	.message .user_part .txt {
		width: 100%;
	}
	.user_part form>.span6:nth-child(even) .group {
		float: none;
	}
	.null_place {
		display: none;
	}
	.investor form .hint {
		float: right;
	}
	.investor form .txt {
		padding: 0 5px;
	}
	.investor.main_body .container {
		padding-left: 5px;
		padding-right: 5px;
	}
	.me .nav a {
		padding: 0px;
		font-size: 14px;
	}
	.me_banner .user_fl img {
		width: 80px;
		height: 80px;
		margin: 5px 8px 0 0;
	}
	.me_banner .user_fr {
		font-size: 26px;
		margin-right: 0;
	}
	.me .nav {
		height: auto;
	}
	.me .nav .col-xs-3 {
		width: 20.5%
	}
	.me .nav .col-xs-4 {
		width: 29.5%
	}
}

@media screen and (max-width:420px) {
	.question .menu li:nth-child(4) {
		display: inline-block;
		width: 32%;
	}
	.question .menu li {
		margin-left: 2px;
		margin-right: 2px;
	}
	.question .menu a {
		padding: 0 5px;
	}
	.me form .txt,
	.me .password_row,.me form .select {
		width: 100%;
		;
	}
}