.gray_bg {
  background: #f3f3f3 url(../images/bg.jpg) no-repeat top;
}

.txt-wrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.green-btn {
  display: inline-block;
  text-align: center;
  line-height: 36px;
  margin-top: 50px;
}

.green-btn:hover {
  font-size: 16px;
  box-shadow: 0 5px 25px #18928a;
}

.bg-card {
  background: #fff;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.10);
  border-radius: 5px;
}

.bg-card:hover {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.30);
}

.index_header {
  position: absolute;
  z-index: 9;
  width: 100%;
}

.logo {
  padding-top: 10px;
  padding-left: 40px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.header .mobileMenuBtn {
  position: fixed;
  right: 20px;
  top: 30px;
  width: 30px;
  text-align: center;
  cursor: pointer;
  z-index: 100;
  display: none;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
}

.header .mobileMenuBtn.active {
  right: 220px;
}

.header .mobileMenuBtn span {
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
  margin-bottom: 8px;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
}

.header .mobileMenuBtn span:last-child {
  margin: 0;
}

.header .mobileMenuBtn span:first-child,
.header .mobileMenuBtn span:last-child {
  transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  transform: rotate(0);
  -webkit-transform: rotate(0);
}

.header .mobileMenuBtn.active span:first-child {
  transform: rotate(-43deg);
  -webkit-transform: rotate(-43deg);
}

.header .mobileMenuBtn.active span:last-child {
  transform: rotate(43deg);
  -webkit-transform: rotate(43deg);
}

.header .mobileMenuBtn span:nth-child(2) {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

.header .mobileMenuBtn.active span:nth-child(2) {
  transform: translateX(80px);
  -webkit-transform: translateX(80px);
  opacity: 0;
}

.nav {
  text-align: right;
  padding-top: 30px;
  float: right;
}

.menu {
  top: 0;
  right: 0;
}

.nav li {
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  font-size: 16px;
  padding-top: 20px;
}

.nav li.current,
.nav li:hover {
  color: #fff;
  background: url(../images/nav.png) no-repeat top center;
}

.nav li.current a,
.nav li:hover a {
  color: #fff;
}

.silder-main-img .info {
  position: absolute;
  top: 36%;
  left: 50%;
  color: #fff;
  width: 790px;
  margin-left: -380px;
}

.silder-main-img .info h3 {
  font-size: 60px;
}

.silder-main-img .info p {
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: right;
  text-transform: uppercase;
}

.silder-main-img .info2 {
  width: 800px;
  position: absolute;
  top: 25%;
  color: #fff;
  left: 25%;
}

.silder-main-img .info3 {
  width: 600px;
  margin-left: -300px;
}

.silder-main-img .info2 h3 {
  font-size: 50px;
}

.silder-main-img .info2 p {
  font-size: 24px;
  text-transform: uppercase;
}

.silder-main-img .info2 .sec {
  margin-left: 40%;
  margin-top: 10%;
}

.page-tit {
  color: #fff;
  text-align: center;
  line-height: 50px;
  padding-top: 150px;
  padding-bottom: 150px;
}

.page-tit p:first-child {
  font-size: 48px;
  text-transform: uppercase;
  line-height: 70px;
}

.page-tit p:last-child {
  font-size: 36px;
}

.page-tit p em {
  font-style: normal;
}

.page-tit p span {
  width: 20%;
  display: inline-block;
  height: 1px;
  background: #fff;
  margin-bottom: 10px;
}

.page-tit p span {
  height: 1px;
  width: 100px;
  background: #fff;
}

/* 尾部开始 */
.footer {
  width: 100%;
  background: #fff;
}

.footer .footer-info {
  margin-top: 60px;
}

.footer-con {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 110px;
}

.footer .footer-tit {
  color: #24262d;
  text-align: center;
}

.footer .footer-tit h4 {
  font-size: 30px;
  text-transform: uppercase;
}

.footer .footer-tit p {
  font-size: 20px;
}

.footer .footer-tit p em {
  font-style: normal;
  padding-left: 3%;
  padding-right: 3%;
}

.footer .footer-tit p span {
  display: inline-block;
  width: 15%;
  height: 1px;
  background: #24262d;
  margin-bottom: 7px;
}

.footer-info .tit {
  font-size: 14px;
  font-weight: bold;
  color: #24262d;
  line-height: 28px;
  margin-bottom: 10px;
}

.footer-mid {
  padding-left: 12%;
  padding-right: 5%;
  box-sizing: border-box;
}

.foot-intro {
  padding-left: 70px;
}

.footer-info .map {
  padding-top: 10px;
}

.foot-tel {
  background: url(../images/footer_tel.jpg) no-repeat left center;
}

.foot-address {
  background: url(../images/footer_address.jpg) no-repeat left center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.foot-intro p {
  color: #777777;
  font-size: 12px;
  line-height: 20px;
}

.footer-con .ewm {
  padding-left: 0;
}

.footer-con .message {
  max-width: 280px;
}

.footer-con .items {
  border-bottom: 1px solid #777;
  color: #777;
  line-height: 36px;
}

.footer-form {
  margin-top: -14px;
}

.footer-con .items:last-child {
  border-bottom: 0;
}

.footer-con .items input {
  height: 36px;
  line-height: 36px;
  border: 0;
}

.footer-con .items textarea {
  border: 0;
  border-bottom: 1px solid #777;
  height: 60px;
  max-width: 160px;
}

.footer-con .items button,
.green-btn {
  width: 115px;
  height: 36px;
  margin-top: 65px;
  background: #33b9af;
  font-size: 14px;
  color: #fff;
  border: 0;
  border-radius: 18px;
  box-shadow: 0 5px 25px #33b9af;
}

/* 尾部结束 */
.join-us,
.support,
.about,
.newslist,
.success,
.solution-contain,
.solution-sec {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 130px;
}

/* 关于我们 */
.about {
  box-shadow: 0px 0px 25px #ccc;
}

.about .img {
  overflow: hidden;
}

.about-contain {
  background: #fff;
  padding: 35px 100px 120px;
}

.about h4 {
  font-size: 26px;
  line-height: 60px;
  color: #39baa7;
  margin-top: 80px;
}

.about h4 span {
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #39baa7;
  padding-left: 15px;
}

.about-detail {
  font-size: 14px;
  line-height: 28px;
  color: #777777;
}

.about-detail p {
  padding-top: 30px;
}

.about-detail2 p {
  padding-top: 0px;
  padding-left: 34px;
}

.about-detail p.tit {
  color: #333;
  font-size: 14px;
  padding-top: 30px;
  font-weight: bold;
}

/* 详情页 */
.detail_header .nav {
  padding-top: 25px;
}

.detail_header .nav li.current,
.detail_header .nav li:hover {
  color: #8dc73f;
  background: url(../images/nav02.png) no-repeat top center;
}

.detail_header .nav li.current a,
.detail_header .nav li:hover a {
  color: #8dc73f;
}

.detail-wrapper {
  background: #f3f3f3;
  width: 100%;
}

.news-detail {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 130px;
  padding-top: 80px;
}

.news-detail h3 {
  color: #333333;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.news-detail .date {
  color: #999;
  font-size: 14px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 70px;
}

.news-detail .contain {
  color: #333333;
  font-size: 12px;
  line-height: 36px;
}

/* 加入我们 */
.join-us-pagetit p em {
  font-size: 26px;
  letter-spacing: 1em;
}

.join-us-pagetit p span {
  width: 8%;
}

.page-tit .ad {
  font-size: 50px;
  font-weight: normal;
  line-height: 70px;
}

.join-us .invite {
  text-align: center;
  padding-bottom: 80px;
}

.join-us .invite div {
  color: #fff;
  font-size: 36px;
  padding-bottom: 20px;
}

.join-us .invite div span {
  line-height: 60px;
  height: 60px;
  display: inline-block;
}

.join-us .invite em {
  display: inline-block;
  width: 24px;
  height: 44px;
}

.join-us .invite em:first-child {
  background: url(../images/join01.png) no-repeat left top;
  background-size: contain;
}

.join-us .invite em:last-child {
  margin-bottom: -20px;
  background: url(../images/join02.png) no-repeat right bottom;
  background-size: contain;
}

.join-us .invite p {
  font-size: 18px;
  color: #3c3c3c;
  font-weight: bold;
}

.join-us .job {
  background: #f2f3f7;
  border-radius: 5px;
  box-shadow: 0 0px 25px #ddd;
  margin: 10px;
  padding: 25px;
  box-sizing: border-box;
}

.join-us .job .title {
  font-size: 20px;
  color: #333;
  line-height: 36px;
  text-align: center;
  font-weight: bold;
}

.join-us .job .city {
  font-size: 14px;
  color: #39baa7;
  text-align: center;
  line-height: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.join-us .job .city span {
  background: url(../images/city.jpg) no-repeat left center;
  width: 15px;
  height: 20px;
  display: inline-block;
  background-size: cover;
  margin-right: 10px;
  vertical-align: text-bottom;
}

.join-us .intro {
  background: #ffffff;
  border-radius: 5px;
  padding: 20px 20px 45px;
}

.join-us .name {
  color: #333;
  line-height: 20px;
  padding-bottom: 20px;
}

.join-us .detail {
  color: #999999;
  font-size: 12px;
  line-height: 22px;
}

.join-us .intro li:first-child .detail {
  height: 50px;
  overflow: hidden;
  padding-bottom: 40px;
}

.join-us .intro li:last-child .detail {
  height: 100px;
  overflow: hidden;
}

/* 新闻列表 */
.newslist-title {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.newslist-title li {
  float: left;
  font-size: 18px;
  color: #fff;
  line-height: 40px;
  margin: 0 10px;
  padding: 0 5px;
}

.newslist-title li a {
  color: #fff;
}

.newslist-title li.current {
  border-bottom: 2px solid #fff;
}

.newslist-title li.current a {
  font-size: 22px;
  color: #fff;
}

.news-list li {
  background: #fff;
  box-shadow: 0px 0px 25px #ccc;
  margin-bottom: 40px;
}

.news-list .img {
  position: relative;
}

.news-list .img .shade {
  height: 70px;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  z-index: 3;
}

.news-list .img p {
  font-size: 26px;
  color: #fff;
  position: absolute;
  z-index: 9;
  bottom: 16px;
  padding-left: 20px;
}

.news-list .intro {
  color: #333;
  padding: 3% 4%;
  box-sizing: border-box;
  padding-bottom: 0;
}

.news-list .intro h3 {
  font-size: 22px;
}

.news-list .intro p {
  font-size: 12px;
  line-height: 24px;
  padding-top: 15px;
}

.news-list .btn {
  text-align: right;
}

/* 技术支持 */
.support li {
  padding-bottom: 30px;
  box-sizing: border-box;
}

.support li:nth-child(2n+1) {
  padding-right: 20px;
}

.support li:nth-child(2n) {
  padding-left: 20px;
}

.support-list {
  overflow: hidden;
  background: #fff;
  padding: 30px 50px 30px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 0px 25px #ddd;
}

.support-list .info {
  padding-left: 30px;
  box-sizing: border-box;
}

.support-list .info h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 36px;
}

.support-list .info div {
  margin-top: 30px;
  font-size: 14px;
  color: #777777;
  line-height: 26px;
  height: 80px;
  overflow: hidden;
}

.support-list .date {
  font-size: 12px;
}

/*========================success 成功案例 ============================*/
.success .info li {
  line-height: 34px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  text-align: left;
  padding-top: 15px;
}
.success .info li img{
  width: 100%;
}
.success .info {
  padding: 30px 45px 40px 45px;
  color: #999;
}

.success .info .tit {
  height: 30px;
  overflow: hidden;
  font-size: 18px;
  color: #333333;
  line-height: 30px;
  margin-bottom: 45px;
  text-align: center;
}

.success .info .value {
  float: right;
  max-width: 110px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*=======================solution first 解决方案1 ============================*/
.solution-contain li {
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 35px;
}

.solution-contain .info {
  padding: 20px 25px;
}

.solution-contain .img img {
  width: 100%;
}

.solution-contain .info div {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  overflow: hidden;
  height: 140px;
  text-align: justify;
}

.solution-contain .info h3 {
  color: #31b9b1;
  font-size: 20px;
  line-height: 40px;
  padding-bottom: 15px;
}

.solution-contain .btn {
  text-align: center;
  padding-bottom: 50px;
}

.solution-contain .btn .green-btn {
  margin-top: 30px;
}

/*=======================solution sec 解决方案2 ============================*/
.solution-sec {}

.solution-sec li {
  position: relative;
  box-sizing: border-box;
  padding: 0 20px;
  margin-bottom: 40px;
}

.solution-sec .img {
  position: relative;
}

.solution-sec .img img {
  width: 100%;
}

.solution-sec .shade {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.30)
}

.solution-sec .shadehover,
.solution-sec .shade:hover {
  background: rgba(0, 0, 0, 0.50)
}

.solution-sec .name {
  position: absolute;
  top: 40%;
  width: 50%;
  text-align: center;
}

.solution-sec .name p {
  text-align: center;
}

.solution-sec .name a {
  color: #fff;
  font-size: 24px;
}

.solution-sec .name a:hover {
  /* font-size: 25px;
  transition: all 0.3; */
}