.container {
	max-width: 1200px;
}

.brown_txt {
	color: #d6b087;
}

.red_txt {
	color: #ed0f1d;
}

.gray_txt {
	color: #999;
}

.bf80 {
	width: 80%;
}

.txt_c {
	text-align: center;
}

.omit {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.pl15 {
	padding-left: 15px;
}

.mt10 {
	margin-top: 10px;
}

.mb10 {
	margin-bottom: 10px;
}

.ml15 {
	margin-left: 15px;
}

.mr40 {
	margin-right: 40px;
}

.ico_bg {
	background-image: url(../img/ico_bg.png);
	background-repeat: no-repeat;
}

i {
	font-style: normal;
}


/*头部*/

.header_top {
	height: 36px;
	line-height: 36px;
	width: 100%;
	background-color: #f1f1f1;
}

.header_top .group .line {
	width: 1px;
	height: 15px;
	background-color: #8c8c8c;
	margin: 10px 10px 0;
}

.header_top .group a {}

.header_top .group .mobile {
	width: 15px;
	height: 22px;
	background-position: 0px 1px;
	margin-top: 6px;
}

.header_top .group .weixin,
.header_top .group .weibo {
	width: 25px;
	height: 25px;
	background-position: -17px 1px;
	margin-left: 10px;
	margin-top: 5px;
}

.header_top .group .weibo {
	background-position: -44px 1px;
}

.header_top .group .butt {
	display: inline-block;
	width: 46px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #b80a15;
	text-align: center;
	font-size: 12px;
	color: #b80a15;
	margin-left: 5px;
	background-color: transparent;
}

.header_top .group .butt.selected {
	background-color: #b80a15;
	color: #fff;
}


/*轮播*/

.index_banner {
	margin: 0px auto 20px;
	position: relative;
	width: 100%;
	height: 482px;
	overflow: hidden;
	zoom: 1;
}

.index_banner .slide li {
	width: 100%;
	height: 100%;
}

.bx-controls {
	position: absolute;
	width: 1200px;
	height: 500px;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}

.bx-controls-direction {
	height: 484px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%
}

.bx-controls-direction .bx-prev,
.bx-controls-direction .bx-next {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 270px;
	background: rgba(0, 0, 0, .2);
	transform: translateY(-50%);
	border-radius: 1em;
}

.bx-controls-direction .bx-prev:hover {
	background: rgba(0, 0, 0, .4);
}

.bx-controls-direction .bx-prev {
	left: 0;
}

.bx-controls-direction .bx-next {
	right: 0;
}

.bx-controls-direction .ico_bg {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 25px;
	height: 35px;
}

.bx-controls-direction .bx-next .ico_bg {
	background-position: 1px -27px;
}

.bx-controls-direction .bx-prev .ico_bg {
	background-position: -31px -27px;
}

.index_banner:hover .flex-next {
	opacity: 0.8;
	filter: alpha(opacity=25);
}

.index_banner:hover .flex-prev {
	opacity: 0.8;
	filter: alpha(opacity=25);
}

.index_banner:hover .flex-next:hover,
.index_banner:hover .flex-prev:hover {
	opacity: 1;
	filter: alpha(opacity=50);
}

.bx-pager {
	width: 100%;
	position: absolute;
	bottom: 30px;
	text-align: center;
}

.bx-pager-item a {
	display: inline-block;
	zoom: 1;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 50%;
	opacity: .6;
}

.bx-pager-item {
	margin: 0 10px;
	display: inline-block;
}

.bx-pager-item a.active {
	opacity: 1;
}

.index_banner .slide a img {
	width: 100%;
	height: 484px;
	display: block;
}


/*底部*/

.footer_wrap {
	padding-top: 30px;
	background: #252a35;
}

.footer_wrap .top_part {
	border-bottom: 1px solid #51555d;
	font-size: 14px;
	color: #8f9193;
	margin: 0 20px;
}

.footer_wrap .top_part img {
	width: 65px;
	height: 65px;
	margin-right: 15px;
	margin-bottom: 20px;
}

.footer_wrap .mask {
	line-height: 26px;
	font-size: 18px;
	color: #fff;
}

.footer_wrap .middle_part {
	margin: 0 20px;
	padding-top: 30px;
	line-height: 28px;
	color: #aaaaab;
	padding-bottom: 15px;
	border-bottom: 1px solid #51555d
}

.footer_wrap .middle_part .tit {
	color: #fff;
	text-decoration: underline;
	margin-bottom: 5px;
}

.footer_wrap .foot_logo {
	padding: 40px 40px 0 0;
}

.footer_wrap .foot_logo img {
	height: 33px;
}

.footer_wrap .code {
	text-align: center;
	margin-bottom: 15px;
}

.footer_wrap .code img {
	width: 104px;
}

.footer_wrap .foot_nav {
	text-align: center;
	position: relative;
	margin-top: 40px;
}

.footer_wrap .foot_nav a {
	color: #c8cacc;
}

.footer_wrap .foot_nav a:after {
	content: "";
	display: inline-block;
	width: 1px;
	height: 14px;
	background: #c8cacc;
	vertical-align: middle;
	margin: 0 15px;
}

.footer_wrap .foot_nav a:last-child:after {
	background: transparent;
}

.footer_wrap .bottom_part {
	text-align: center;
	padding: 10px 0;
}

.footer_wrap .bottom_part img {
	height: 42px;
	margin-right: 20px;
}

.footer_wrap .bottom_part .right_img {
	margin-right: 0;
}

.footer_wrap .bottom_part .copy_txt {
	display: inline-block;
	line-height: 42px;
	color: #8f9193;
	margin-right: 20px;
}


/*分页*/

.paging {
	text-align: center;
	height: 46px;
	padding: 70px 0;
}

.paging a {
	display: inline-block;
	width: 46px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	background: #efefef;
	margin: 0 12px;
	vertical-align: middle;
}

.paging .current {
	color: #b80914;
}

@media screen and (max-width:1200px) {
	.bx-controls {
		position: absolute;
		width: 100%;
	}
}

@media screen and (max-width:960px) {
	/*底部*/
	.footer_wrap .foot_logo {
		padding-right: 15px;
	}
	.footer_wrap .bottom_part img {
		display: none;
	}
	.footer_wrap .top_part,
	.footer_wrap .middle_part,
	.footer_wrap .bottom_part {
		margin: 0;
	}
}

@media screen and (max-width:767px) {
	/*头部*/
	.header_top .group .weixin,
	.header_top .group .weibo {
		margin-left: 2px;
	}
	.header_top .group .line {
		margin: 10px 6px 0;
	}
	/*底部*/
	.footer_wrap .foot_logo {
		display: none;
	}
	.footer_wrap .foot_nav a:after {
		margin: 0 5px;
	}
}

@media screen and (max-width:600px) {
	/*头部*/
	.header_top .contact {
		display: none;
	}
	/*底部*/
	.footer_wrap .middle_part .span8 .span3 {
		width: 50%;
		margin-bottom: 15px;
		text-align: center;
	}
	.footer_wrap .foot_nav {
		display: none;
	}
	.footer_wrap .bottom_part .copy_txt {
		margin-right: 0;
	}
}

@media screen and (max-width:480px) {
	.small_hide_screen {
		display: none;
	}
	.paging a {
		display: inline-block;
		width: 36px;
		height: 36px;
		line-height: 36px;
		margin: 0 6px;
	}
}