@media screen and (max-width: 768px) {

  .investor-list,
  .news-list,
  .project-detail {
    padding: 20px;
  }

  /* 投资人名录 */
  .investor-list .logo-name {
    margin-bottom: 15px;
    margin-top: 30px;
  }

  .investor-list .investor-list-item:nth-child(2n+1),
  .investor-list .investor-list-item:nth-child(2n) {
    padding: 0;
  }

  /* 项目详情 */
  .project-detail .title .search {
    display: none;
  }

  .project-detail .goods {
    margin: 20px auto 0;
    padding-bottom: 0;
  }

  .project-detail .goods .intro h5 {
    font-size: 18px;
  }

  .project-detail .goods .info .price {
    font-weight: normal;
  }

  .project-detail .goods .thum {
    text-align: center;
  }

  .project-detail .goods .intro {
    padding: 20px;
  }

  .project-detail .follow {
    right: 10px;
    top: 20px;
  }

  .project-detail .detail-data {
    padding-left: 0;
  }

  .project-detail .detail-data-con {
    padding: 20px 40px;
  }

  /* 新闻列表 */
  .investor-list-wrap,
  .news-list-wrap {
    padding-top: 100px;
    background-size: contain
  }

  .news-list {
    padding: 10px;
  }

  .news-list .tit {
    font-size: 16px;
    line-height: 24px;
  }

  .news-list .newslist-tab {
    margin-top: 20px;
  }

  .news-list .newslist-tab .tab-con {
    margin-top: 20px;
    padding-left: 0;
  }

  .news-list .tab-con li {
    height: 100px;
  }

  .news-list .tab-con .date div {
    height: 48px;
  }

  .news-list .tab-con .date .day {
    font-size: 24px;
    line-height: 30px;
  }

  .news-list-con li p {
    height: 50px;
    overflow: hidden;
  }
}

@media screen and (max-width: 479px) {

  /* 共用 */
  .page-common .tit {
    font-size: 16px;
  }

  .page-common .tit a {
    padding: 0 10px;
  }

  /* 项目详情 */
  .project-detail .detail .tab-title {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
  }

  .project-detail .detail .tab-box,
  .project-detail .detail-data-con {
    padding: 20px;
  }

  .project-detail .goods .info {
    width: 100%;
  }

  .project-detail .follow {
    top: -190px;
    color: #fff
  }

  .investor-list-wrap,
  .news-list-wrap {
    padding-top: 60px;
  }
}